.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #d3d3d3;

  position: fixed;
  top: 0;
  left: 0;
  color: var(--color-dark-gray);
  padding-top: 20px;
  transition: width 0.3s ease;
  box-shadow: 4px 0 6px rgba(0, 0, 0, 0.2);
}

.sidebar.collapsed {
  width: 80px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
}

.sidebar .logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sidebar-logo {
  width: 150px;
  height: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  text-align: center;
}

.sidebar li a {
  color: var(--color-dark-gray);
  text-decoration: none;
}

.sidebar li a:hover {
  font-weight: bold;
}

.toggle-btn {
  background-color: #333;
  border: none;
  color: var(--color-dark-gray);
  font-size: 20px;
  cursor: pointer;
  margin: 10px auto;
  display: block;
  width: 30px;
  height: 30px;
  text-align: start;
}

.sidebar.collapsed .toggle-btn {
  transform: rotate(180deg); /* Gira el botón cuando colapsado */
}

/* Cambios en los íconos cuando está colapsado */
.sidebar.collapsed ul li a {
  font-size: 0;
}

.sidebar.collapsed ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar.collapsed ul li a::before {
  font-size: 20px;
}
